auto-install-peers=true
strict-peer-dependencies=false
registry=https://registry.npmjs.org/
//registry.npmjs.org/:always-auth=true
//registry.npmjs.org/:_authToken=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